.jet-listing-dynamic-field {
	display: flex;
	align-items: center;
	&__icon {
		margin-right: 10px;

		.rtl & {
			margin-right: 0;
			margin-left: 10px;
		}

		&.is-svg-icon {
			display: inline-flex;
		}
	}
	&__content {
		display: block;
		max-width: 100%;
	}
	&__inline-wrap {
		display: inline-flex;
		align-items: center;
		max-width: 100%;
	}
}

.jet-engine-gallery-grid {
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
	&__item {
		padding: 10px;
		&-wrap {
			display: block;
			height: 100%;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				transition: all 150ms linear;
			}
			&.is-lightbox:before {
				transition: all 150ms linear;
				content: "\f055";
				font-family: FontAwesome;
				font-size: 20px;
				width: 60px;
				height: 60px;
				line-height: 60px;
				font-size: 30px;
				text-align: center;
				opacity: 0;
				left: 50%;
				top: 50%;
				margin: -30px 0 0 -30px;
				position: absolute;
				z-index: 99;
				color: #fff;
				transform: translateY( 10px );
			}
			&.is-lightbox:hover {
				&:before {
					opacity: 1;
					transform: translateY( 0 );
				}
			}
		}
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			display: block;
		}
		.grid-col-desk-1 > & {
			max-width: 100%;
			flex: 0 0 100%;
		}
		.grid-col-desk-2 > & {
			max-width: 50%;
			flex: 0 0 50%;
		}
		.grid-col-desk-3 > & {
			max-width: 33.33333%;
			flex: 0 0 33.33333%;
		}
		.grid-col-desk-4 > & {
			max-width: 25%;
			flex: 0 0 25%;
		}
		.grid-col-desk-5 > & {
			max-width: 20%;
			flex: 0 0 20%;
		}
		.grid-col-desk-6 > & {
			max-width: 16.66666%;
			flex: 0 0 16.66666%;
		}
	}
}

body[data-elementor-device-mode="tablet"] {
	.grid-col-tablet-1 > .jet-engine-gallery-grid__item {
		max-width: 100%;
		flex: 0 0 100%;
	}
	.grid-col-tablet-2 > .jet-engine-gallery-grid__item {
		max-width: 50%;
		flex: 0 0 50%;
	}
	.grid-col-tablet-3 > .jet-engine-gallery-grid__item {
		max-width: 33.33333%;
		flex: 0 0 33.33333%;
	}
	.grid-col-tablet-4 > .jet-engine-gallery-grid__item {
		max-width: 25%;
		flex: 0 0 25%;
	}
	.grid-col-tablet-5 > .jet-engine-gallery-grid__item {
		max-width: 20%;
		flex: 0 0 20%;
	}
	.grid-col-tablet-6 > .jet-engine-gallery-grid__item {
		max-width: 16.66666%;
		flex: 0 0 16.66666%;
	}
}

body[data-elementor-device-mode="mobile"] {
	.grid-col-mobile-1 > .jet-engine-gallery-grid__item {
		max-width: 100%;
		flex: 0 0 100%;
	}
	.grid-col-mobile-2 > .jet-engine-gallery-grid__item {
		max-width: 50%;
		flex: 0 0 50%;
	}
	.grid-col-mobile-3 > .jet-engine-gallery-grid__item {
		max-width: 33.33333%;
		flex: 0 0 33.33333%;
	}
	.grid-col-mobile-4 > .jet-engine-gallery-grid__item {
		max-width: 25%;
		flex: 0 0 25%;
	}
	.grid-col-mobile-5 > .jet-engine-gallery-grid__item {
		max-width: 20%;
		flex: 0 0 20%;
	}
	.grid-col-mobile-6 > .jet-engine-gallery-grid__item {
		max-width: 16.66666%;
		flex: 0 0 16.66666%;
	}
}

.jet-engine-gallery-slider {
	max-width: 100%;
	position: relative;
	&__item {
		max-width: 100%;
		&-wrap {
			display: block;
			height: 100%;
			position: relative;
			overflow: hidden;
			&:after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				transition: all 150ms linear;
			}
			&.is-lightbox:before {
				transition: all 150ms linear;
				content: "\f055";
				font-family: FontAwesome;
				font-size: 20px;
				width: 60px;
				height: 60px;
				line-height: 60px;
				font-size: 30px;
				text-align: center;
				opacity: 0;
				left: 50%;
				top: 50%;
				margin: -30px 0 0 -30px;
				position: absolute;
				z-index: 99;
				color: #fff;
				transform: translateY( 10px );
			}
			&.is-lightbox:hover {
				&:before {
					opacity: 1;
					transform: translateY( 0 );
				}
			}
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
	.jet-engine-arrow {
		position: absolute;
		top: 50%;
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 30px;
		color: #fff;
		background-color: #111;
		left: 0;
		margin-top: -25px;
		cursor: pointer;
		text-align: center;
		z-index: 999;
		&.next-arrow {
			left: auto;
			right: 0;
		}
	}
	&:not(.slick-initialized) {
		.jet-engine-gallery-slider__item {
			display: none;
			&:first-child {
				display: block;
			}
		}
	}
	.jet-engine-arrow {
		transition: all 200ms linear;
	}
}

.jet-check-list {
	&--columns-2 {
		column-count: 2;
	}
	&--columns-3 {
		column-count: 3;
	}
	&--columns-4 {
		column-count: 4;
	}
	&--columns-5 {
		column-count: 5;
	}
	&--columns-6 {
		column-count: 6;
	}
	&__item {
		display: flex;
		align-items: flex-start;
		padding: 0 0 5px;
		overflow: hidden;
		.jet-listing-dynamic-field__icon {
			margin-top: 1px;
			align-self: center;
		}
	}
}
