.elementor-30533 .elementor-element.elementor-element-39e70fa > .elementor-container{min-height:600px;}.elementor-30533 .elementor-element.elementor-element-39e70fa > .elementor-container:after{content:"";min-height:inherit;}.elementor-30533 .elementor-element.elementor-element-39e70fa > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:flex-end;align-items:flex-end;}.elementor-30533 .elementor-element.elementor-element-39e70fa:not(.elementor-motion-effects-element-type-background), .elementor-30533 .elementor-element.elementor-element-39e70fa > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-30533 .elementor-element.elementor-element-39e70fa{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;}.elementor-30533 .elementor-element.elementor-element-39e70fa > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-30533 .elementor-element.elementor-element-af2dfd9.elementor-column .elementor-column-wrap{align-items:flex-end;}.elementor-30533 .elementor-element.elementor-element-af2dfd9.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-end;align-items:flex-end;}.elementor-30533 .elementor-element.elementor-element-af2dfd9.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-end;}.elementor-30533 .elementor-element.elementor-element-af2dfd9 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-30533 .elementor-element.elementor-element-af2dfd9 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-30533 .elementor-element.elementor-element-3e659e2{text-align:center;}.elementor-30533 .elementor-element.elementor-element-3e659e2 .elementor-heading-title{color:#FFFFFF;font-size:66px;text-transform:uppercase;text-shadow:0px 0px 10px rgba(0,0,0,0.3);}.elementor-30533 .elementor-element.elementor-element-237006e > .elementor-widget-container{margin:40px 0px 160px 0px;}.elementor-30533 .elementor-element.elementor-element-26ab86b{text-align:right;width:initial;max-width:initial;}.elementor-30533 .elementor-element.elementor-element-26ab86b .elementor-heading-title{font-size:17px;font-weight:500;}.elementor-30533 .elementor-element.elementor-element-26ab86b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:10px 30px 10px 30px;background-color:rgba(255, 255, 255, 0.73);}@media(max-width:767px){.elementor-30533 .elementor-element.elementor-element-3e659e2 .elementor-heading-title{font-size:50px;}}@media(min-width:768px){.elementor-30533 .elementor-element.elementor-element-af2dfd9{width:100%;}}@media(min-width:1025px){.elementor-30533 .elementor-element.elementor-element-39e70fa:not(.elementor-motion-effects-element-type-background), .elementor-30533 .elementor-element.elementor-element-39e70fa > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-attachment:fixed;}}/* Start custom CSS for Wprentals_Advanced_Search, class: .elementor-element-237006e */.elementor-30533 .elementor-element.elementor-element-237006e .advanced_search_shortcode{
    padding:0px;
    background-color: transparent;
    border:0px;
    width:50%;
    margin-left:25%;
    margin-right:25%;
   
}

.elementor-30533 .elementor-element.elementor-element-237006e .col-md-3{
    width:33.3%;
}/* End custom CSS */