.elementor-30648 .elementor-element.elementor-element-7b9ec931 > .elementor-container{max-width:500px;}.elementor-30648 .elementor-element.elementor-element-7b9ec931 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-30648 .elementor-element.elementor-element-7b9ec931:not(.elementor-motion-effects-element-type-background), .elementor-30648 .elementor-element.elementor-element-7b9ec931 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("http://localhost/espaciosrent/wp-content/uploads/2020/04/9.-ATICO-LOFT-1-1.jpg");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-30648 .elementor-element.elementor-element-7b9ec931 > .elementor-background-overlay{background-color:#000000;opacity:0.5;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-30648 .elementor-element.elementor-element-7b9ec931{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-30648 .elementor-element.elementor-element-10d2c42b:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-30648 .elementor-element.elementor-element-10d2c42b > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:rgba(255, 255, 255, 0.72);}.elementor-30648 .elementor-element.elementor-element-10d2c42b > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:40px 40px 40px 40px;}.elementor-30648 .elementor-element.elementor-element-10d2c42b > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-30648 .elementor-element.elementor-element-5f000737{text-align:center;}.elementor-30648 .elementor-element.elementor-element-5f000737 .elementor-heading-title{font-weight:500;text-transform:uppercase;}.elementor-30648 .elementor-element.elementor-element-20fc876 > .elementor-widget-container{margin:0px 0px 160px 0px;}/* Start custom CSS for Wprentals_Advanced_Search, class: .elementor-element-20fc876 */.elementor-30648 .elementor-element.elementor-element-20fc876 .advanced_search_shortcode{
    padding:0px;
    background-color: transparent;
    border:0px;
    width:100%;
    margin-left: 0%;
    margin-right:0%;
   
}

.elementor-30648 .elementor-element.elementor-element-20fc876 .col-md-3{
    width:100%;
    
}/* End custom CSS */