.single .full-width #primary, .single .wrap.full-width,
.page .full-width #primary, .page .wrap.full-width{
  max-width: 100%;
  padding: 0;
}

/* --------- Search Page Template -------- */
.search-container{
  padding-bottom: 2rem;
  min-height: 480px;
}
.search-container:after{
  content: '';
  display: block;
  clear: both;
}
.search-container h2{
  text-align: center;
  font-size: 32px;
  padding: 15px;
  margin: 0;
}
.search-page-form h4{
  text-align: center;
  margin-bottom: 10px;
}
.search-page-form{
  border-radius: 0;
  max-width: 350px;
  margin: 0 auto;
}
.search-container .no-results{
  text-align: center;
  padding: 15px;
}
.search-container .page-header {
    position: relative;
    background-color: #f5f5f5;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
.search-container .page-header .search-page-title span{
  font-weight: bold;
}


/* Archive navigation */
.posts-navigation{
  margin: 10px 0;
  text-align: center;
  padding: 15px 0;
}
.posts-navigation ul.page-numbers{
  text-align: center;
}
.posts-navigation li a,
.posts-navigation li a:hover,
.posts-navigation li.current a,
.posts-navigation li.disabled {
    color: #fff;
    text-decoration:none;
}
.posts-navigation li,
.posts-navigation li a {
    display: inline-block;
}
.posts-navigation li a,
.posts-navigation li a:hover,
.posts-navigation li.current a,
.posts-navigation li.disabled {
    cursor: pointer;
    padding: 12px;
    padding: 0.75rem;
    background-color: #f5f5f5;
    color: #333; 
}
.posts-navigation li a:hover,
.posts-navigation li.current a {
    background-color: #333;
    color: #fff;
}

/* Posts Navigation */
.posts-navigation .nav-links{
  text-align: center;
  padding: 15px 0;
}
.posts-navigation .nav-links a{
  background-color: #ccc;
  padding: 10px 20px;
}


.posts-navigation{
  width: 100%;
}
.posts-navigation .nav-previous{
  float: left;
}
.posts-navigation .nav-next{
  float: right;
}


.dce-input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.dce-input-group > .dce-form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.dce-input-group-append {
    margin-left: -1px;
}
.dce-input-group-append, .dce-input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*-----------------------*/
.dce-form-step-summary-edit {
    display: none;
    float: right;
}
.dce-step-filled-summary .dce-form-step-summary-edit {
    display: block;
}
.dce-step-filled-summary {
    background-color: #eee;
}
.dce-step-active-summary {
    background-color: red;
}