.elementor-label-inline.elementor-control-type-xy_positions > .elementor-control-content > .elementor-control-field > .elementor-control-input-wrapper,
.elementor-label-inline.elementor-control-type-xy_movement > .elementor-control-content > .elementor-control-field > .elementor-control-input-wrapper {
    width: 100%;
}
.elementor-label-inline.elementor-control-type-xy_positions .elementor-control-title-xypositions,
.elementor-label-inline.elementor-control-type-xy_movement .elementor-control-title-xymovement{
    padding-right: 15px;
    color: #999;
    font-size: 11px;
}
.elementor-control-type-transforms .reset-controls,
.elementor-control-type-xy_positions .reset-controls,
.elementor-control-type-xy_movement .reset-controls{
    position: absolute;
    right: 20px;
    color: #999
}
.elementor-control-type-transforms .elementor-slider-input,
.elementor-control-type-xy_positions .elementor-slider-input,
.elementor-control-type-xy_movement .elementor-slider-input{
    width: 50px;
}
.elementor-control-type-transforms .elementor-control-field,
.elementor-control-type-xy_positions .elementor-control-field,
.elementor-control-type-xy_movement .elementor-control-field{
    padding-bottom: 5px;
}
.elementor-control-type-transforms .control-title-first,
.elementor-control-type-xy_positions .control-title-first{
    font-weight: bold;
}
.elementor-control-type-repeater .elementor-label-inline.elementor-control-shape_x > .elementor-control-content > .elementor-control-field > .elementor-control-input-wrapper, 
.elementor-control-type-repeater .elementor-label-inline.elementor-control-shape_y > .elementor-control-content > .elementor-control-field > .elementor-control-input-wrapper,
.elementor-label-inline.elementor-control-svgimage_x > .elementor-control-content > .elementor-control-field > .elementor-control-input-wrapper,
.elementor-label-inline.elementor-control-svgimage_y > .elementor-control-content > .elementor-control-field > .elementor-control-input-wrapper{
    width: 75%;
}

.elementor-control-type-repeater .elementor-label-inline.elementor-control-stroke_width > .elementor-control-content > .elementor-control-field > .elementor-control-input-wrapper,
.elementor-control-type-repeater .elementor-label-inline.elementor-control-speed_morph > .elementor-control-content > .elementor-control-field > .elementor-control-input-wrapper,
.elementor-control-type-repeater .elementor-label-inline.elementor-control-duration_morph > .elementor-control-content > .elementor-control-field > .elementor-control-input-wrapper{
    width: 65%;
}
.elementor-control-type-repeater .elementor-label-inline.elementor-control-speed_morph,
.elementor-control-type-repeater .elementor-label-inline.elementor-control-duration_morph,
.elementor-control-type-repeater .elementor-label-inline.elementor-control-shape_x,
.elementor-control-type-repeater .elementor-label-inline.elementor-control-shape_y
{
    margin-bottom: 4px;
}
/* ------ DynamicPosts Ui sortabe REPEATER ----- */
.elementor-control-list_layout_posts .elementor-repeater-row-controls{
    display: none;

}
/* ------ Control Images_Selector ----- */
.elementor-imageselector {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.elementor-imageselector-item{
    flex: 0 1 33%;
    padding: 0 2px 2px 0;
}
.elementor-imageselector-column-1{
    flex-basis: 100%;
}
.elementor-imageselector-column-2{
    flex-basis: 50%;
}
.elementor-imageselector-column-3{
    flex-basis: 33%;
}
.elementor-imageselector-column-4{
    flex-basis: 25%;
}
.elementor-imageselector-column-5{
    flex-basis: 20%;
}
.elementor-imageselector-column-6{
    flex-basis: 16%;
}

.elementor-imageselector-type-icon{

}
.elementor-imageselector-type-icon .elementor-imageselector-label {
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #eeeeee;
    width: 100%;
    text-align: center;
    min-height: 100px;
}
.elementor-imageselector-type-icon i{
    font-size: 30px;
}

.elementor-imageselector-type-image img{
    display: block;
}
.elementor-imageselector-type-image .elementor-imageselector-label,
.elementor-imageselector-type-bgimage .elementor-imageselector-label {
    width: 100%;
    border: 2px solid #eeeeee;
    border-radius: 20px;
    display: block;
    overflow: hidden;
    opacity: 0.6;
}
.elementor-imageselector-item .elementor-imageselector-bgimage{
    display: block;
    background-size: cover;
    min-height: 100px;
    background-position: center;
}
.elementor-imageselector-item input[type=radio]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.elementor-imageselector-item input[type=radio] + .elementor-imageselector-label {
  cursor: pointer;
}

.elementor-imageselector-item input[type=radio]:checked + .elementor-imageselector-label {
    color: #fff;
    background-color: #a4afb7;
    border-color: #444444;
    opacity: 1;
}


/*.dialog-buttons-message .elementor-control-dynamic-switcher-wrapper {
    display: none !important;
}*/


/* NOTICE */
.dce-notice {
    background: #fff;
    border-left: 4px solid #fff;
    border-left-color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin: 20px 0;
    padding: 1px 12px;
}
.dce-notice-success {
    border-left-color: #46b450;
}
.dce-notice-error {
    border-left-color: #dc3232;
}


.color-dce {
    color: #e52600;
}

.pull-right {
    float: right;
}
.ml-1 {
    margin-left: 1em;
}
.mr-1 {
    margin-right: 1em;
}
.p-0 {
    padding: 0 !important;
}

/* Visibility */
.elementor-navigator__item {
    position: relative;
}
#elementor-navigator .elementor-navigator__element__toggle {
    margin-right: 25px;
}
.dce-elementor-navigator__element__toggle {
    position: absolute;
    right: 15px;
    top: 9px;
}
.dce-visibility-hidden{
    /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAFUlEQVQYlWNgoAZ4qsbwnzIFw8IKAPtnDD01C/HRAAAAAElFTkSuQmCC) repeat;*/
}
.dce-visibility-hidden > *{
    opacity: 0.4;
}
.dce-visibility-section-hidden,
.dce-visibility-hidden-outline,
.dce-visibility-hidden {
    outline: 1px dashed #e52600 !important;
    outline-offset: -1px;
}
.dce-icon-visibility {
    color: black;
}
.dce-icon-visibility-hidden {
    color: #f00002;
}

.elementor-control .elementor-control-content .elementor-control-note,
.elementor-control-dce_visibility_events_note.elementor-control .elementor-control-content,
.elementor-control-dce_visibility_datetime_important_note.elementor-control .elementor-control-content {
    background-color: #eee;
    padding: 15px;
    border-radius: 5px;
}
.elementor-panel #elementor-panel-page-editor .elementor-tab-control-dce_visibility a:before {
    font-family: FontAwesome, 'Font Awesome 5 Free';
    content: '\f06e';
    /*content: '\e8ed';*/
        /*content: '\e1019';
    font-family: eicons;*/
}
/*.elementor-control-dce_visibility_datetime_important_note.elementor-control .elementor-control-title {
    text-align: center;
}*/
.elementor-control.elementor-control-dce_visibility_selected,
.elementor-control.elementor-control-enable_image,
.elementor-control.elementor-control-fe_filtereffect,
.elementor-control.elementor-control-selector_wrapper,
.elementor-control.elementor-control-selector_header{
    border-top: #e6e9ec 1px solid;
    background-color: #f5f5f5;
    padding-top: 15px;
}
.elementor-control.elementor-control-dce_visibility_selected .elementor-choices input:checked + .elementor-choices-label{
    background-color: #e52600;
}
.elementor-control.elementor-control-dce_visibility_selected .elementor-choices .elementor-choices-label
{
    background-color: #FFFFFF;
    font-size: 18px;
}
.elementor-control.elementor-control-selector_wrapper,
.elementor-control.elementor-control-selector_header,
.elementor-control.elementor-control-selector_main_site,
.elementor-control.elementor-control-selector_footer_site,
.elementor-control.elementor-control-dce_settings_structure,
.elementor-control.elementor-control-dce_structure_page,
.elementor-control.elementor-control-dce_smoothtransition_settings_note,
.elementor-control.elementor-control-dce_trackerheader_settings_note
{
    background-color: #f5f5f5;
}
.elementor-control.elementor-control-selector_wrapper input:not(:placeholder-shown),
.elementor-control.elementor-control-selector_header input:not(:placeholder-shown),
.elementor-control.elementor-control-selector_main_site input:not(:placeholder-shown),
.elementor-control.elementor-control-selector_footer_site input:not(:placeholder-shown){ 
    background-color: #FFF;
}
.dce-settings-structure,
.elementor-control.elementor-control-dce_structure_page .elementor-control-field{
    text-align: center;
    justify-content: center;
}
.elementor-panel .dce-settings-structure img{
    max-width: 200px;
}

.elementor-panel .dce-document-settings h2{
    font-size: 16px;
    font-weight: bold;
}
.dce-document-settings hr{
    margin: 5px 0;
    border: none;
    border-top: 1px dotted #999;
}
.dce-document-settings{
    background-color: #eee;
    padding: 15px;
    border-radius: 10px;
    font-size: 11px;
    line-height: 1.3;
    margin: 0 -10px;
}

.avviso {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
}
.avviso ul{
    padding: 11px;
}
.avviso li{
    display: list-item;
    padding-bottom: 3px;
    list-style: circle;
}
.avviso a{
    display: block;
    margin: 10px 0 0;
}

.elementor-control-post_title .elementor-control-dynamic-switcher,
.elementor-tag-settings-popup .elementor-control-dynamic-switcher {
    display: none;
}

.elementor-control.elementor-control-minmaxDuration,
.elementor-control.elementor-control-minmaxRadius
{
    margin: 0;
    padding-bottom: 25px;
}

.elementor-panel .elementor-element .icon{
    position: relative;
}
.elementor-panel .elementor-element .icon i[class*="icon-dyn"]:after {
    content: '\e817';
    position: absolute;
    top: 5px;
    right: 2px;
    z-index: 1;
    /*color: #e52600;*/
    background: transparent;
    font-size: 15px;
    font-family: "dce-icon";
    font-style: normal;
    padding: 0.2em 0.5em;
    color: #e6e9ec;
    /*border-width: 0 0 1px 1px;
    border-color: #eee;
    border-radius: 50%;
    border-style: solid;*/

    transition: color 0.5s ease;
}
.elementor-panel .elementor-element:hover .icon i[class*="icon-dyn"]:after {
    color: #e52600;
 }
.elementor-control-title abbr{
    text-decoration: none;
}
.elementor-control-title abbr:after{
    content: '?';
    display: inline-block;
    color: #fff;
    font-size: 10px;
    background-color: #C3C3C3;
    border-radius: 50%;
    padding: 2px 4px;
    width: 13px;
    height: 13px;
    text-align: center;
    margin: 0 4px;
    cursor: pointer;
}

.elementor-control-type-tab.elementor-control-form_fields_enchanted_tab{
    width: 12em;
}

/**********************/
#dce_copy_paste {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    background: white;
    padding: 20px;
    border-top: 1px solid #e52600;
}
#dce_copy_paste p {
    margin-bottom: 5px;
}
#dce_copy_paste__close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: inherit; 
}
#dce_copy_paste__textarea {
    height: 40px;
}
#dce_copy_paste__btn {
    position: absolute;
    right: 10px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
}
.elementor-control-smoothtransition_debug_loading.elementor-control-type-switcher .elementor-switch-input:checked ~ .elementor-switch-label {
    background: #a4afb7;  
}
.elementor-control-smoothtransition_debug_loading.elementor-control-type-switcher .elementor-switch-label{
    background-color: #e52600;
}
.elementor-control-smoothtransition_debug_loading.elementor-control-type-switcher .elementor-switch-label:before{
    color: #FFF
}

/* ------ DEBUG ------ */
.elementor-control.elementor-control-dce_smoothtransition_class_debug,
.elementor-control.elementor-control-dce_trackerheader_class_debug{
    padding: 0; 
}
.dce-class-debug {
    background-color: #bc0d0d;
    padding: 8px;
    border-radius: 19px;
    color: #FFF;
    display: inline;
    position: absolute;
    top: -41px;
    z-index: 10;
    right: 10px;
    font-size: 10px;
    text-transform: uppercase;
}
.dce-class-debug.detected{
    background-color: #4f932a;
}
.elementor-control-dce_smoothtransition_class_controller{
    /*display: none;*/
}

.elementor-button-block {
    display: block;
    width: 100%;
}

.elementor-field-textual {
  line-height: 1.4; }
  .elementor-field-textual.elementor-size-xs {
    font-size: 13px;
    padding: 4px 12px;
    -webkit-border-radius: 2px;
            border-radius: 2px; }
  .elementor-field-textual.elementor-size-sm {
    font-size: 13px;
    padding: 5px 14px;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  .elementor-field-textual.elementor-size-md {
    font-size: 16px;
    padding: 6px 16px;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
  .elementor-field-textual.elementor-size-lg {
    font-size: 18px;
    padding: 7px 20px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  .elementor-field-textual.elementor-size-xl {
    font-size: 20px;
    padding: 8px 24px;
    -webkit-border-radius: 6px;
            border-radius: 6px; }

.elementor-control.elementor-control-type-select .elementor-control-input-wrapper,
.elementor-control.elementor-control-type-select2 .elementor-control-input-wrapper,
.elementor-control-unit-5 {
    min-width: 135px;
}

.select2-results__option[aria-selected="true"] {
    font-weight: bold;
}
/*
.elementor-control-type-ooo_query .dce-elementor-control-quick-edit{
    padding: 7px;
    background-color: #e4e4e4;
    border-radius: 50px;
    margin-left: 2px;
    margin-top: 2px;
    width: 26px;
    float: right;
}
*/
.elementor-control-unit-1 + .elementor-control-type-ooo_query .select2-container {
    width: calc(100% - 27px) !important;
}
.elementor-control-type-ooo_query .elementor-control-input-wrapper .elementor-control-unit-1 {
    order: 2;
}
.elementor-control-type-ooo_query .elementor-control-input-wrapper {
    display: flex;
}
.elementor-control-type-ooo_query .select2-container .select2-selection {
    border-radius: 3px 0 0 3px;
}
.elementor-control-type-ooo_query .select2-container .select2-selection--multiple {
    min-height: 28px;
}
.elementor-control-type-ooo_query .select2-container .select2-selection--multiple .select2-selection__rendered {
    line-height: 20px;
}
.elementor-control-type-ooo_query .dce-elementor-control-quick-edit {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 28px;
    cursor: pointer;
    border: 1px solid #d5dadf;
        border-left-color: rgb(213, 218, 223);
        border-left-style: solid;
        border-left-width: 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background: #fff;
}
.elementor-control-type-ooo_query .dce-elementor-control-quick-edit  i {
    font-size: 12px;
    /*color: #6d7882;*/
    color: #e52600;
}
.dce-skin-dis img {
    width: 70%;
    margin: 0 auto;
    display: block;
}
