/**************** ACF RELATION ******************/

.dce-view-tab > ul, .dce-view-tab > ul > li {
    list-style: none;
    margin: 0;
}
.dce-tab-item.dce-tab-item-active {
    background-color: #ddd;
}
.dce-tab-item {
    display: block;
    padding: 5px 10px;
    border: 1px solid #666;
}
.dce-tab-horizontal > ul > li {
    display: inline-block;
}
.dce-view-tab.dce-tab-vertical {
    /*float: left;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.dce-view-tab.dce-tab-vertical > ul {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.dce-view-tab.dce-tab-vertical > .dce-tab-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.dce-tab-pane, 
.dce-accordion-pane, 
.dce-select-pane {
    padding: 15px;
    border: 1px solid #666;
}
.dce-accordion-item > a {
    padding: 5px 10px;
    border: 1px solid #666;
    display: block;
    /*background-color: #ddd;*/
}