/* -------------------------------- 

Masonry in AcfGallery

-------------------------------- */
.dynamic_acfgallery-row .acfgallery-item{
  display: block;
  width: 100%;
}
.dynamic_acfgallery-masonry .acfgallery-item{
  float: left;
  opacity: 0;
}
.elementor .elementor-widget .dynamic_acfgallery-grid .acfgallery-item{
  margin: 0 -2px;
  display: inline-block;
 }
.dynamic_acfgallery:not(.justified-gallery) .wrap-item-acfgallery{
  position: relative;
}
.wrap-item-acfgallery{
  margin: 0 auto;
  overflow: hidden;
}
.align-right .wrap-item-acfgallery{
  margin: 0 auto 0 0;
}
.align-right .wrap-item-acfgallery{
  margin: 0 0 0 auto;
}
.dynamic_acfgallery-masonry .acfgallery-item:after{
  content: '';
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}
.dynamic_acfgallery .wrap-item-acfgallery img{
  width: 100%;
  height: auto;
  display: block;
}
/* overlay_hover */
.dynamic_acfgallery .acfgallery-item a .acfgallery-overlay_hover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0;

    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.dynamic_acfgallery .acfgallery-item a:hover .acfgallery-overlay_hover{
  opacity: 1;
}
/* Se è abilitato il lightbox uso l'effetto zoom */
.hovereffect-zoom .acfgallery-item a.is-lightbox img, .hovereffect-zoom a.is-lightbox .hex_inner{
    /*will-change: transform;*/
    transition: 0.8s transform ease;
    transform-origin: center center;
    transform-style: preserve-3D;
    display: block;
}
.hovereffect-zoom .dynamic_acfgallery .acfgallery-item a.is-lightbox:hover img{
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}


/*.overlay-yes .grid-item a.is-lightbox:not(.comb):hover:after, .overlay-yes .grid-item a.is-lightbox:hover .hex_inner:after{
    opacity: 1;
}*/

.figcaption span{
  display: block;
}
.figcaption .description{
  
}
.figcaption .caption{
  
}
.figcaption .title{
  
}

/*  -------- ACFGallery Single-Image -------- */
.dynamic_acfgallery-single_image .grid-item.hidden{
  display: none;
}
/*  -------- ACFGallery Diamonds -------- */

.dynamic_acfgallery-diamond .diamonds {
    text-align: center;
    overflow: visible;
    white-space: nowrap;
    display: inline-block;
}

.dynamic_acfgallery-diamond .diamond-row-wrap {
    text-align: center;
    position: relative;
    float: left;
    clear: both;
}
.dynamic_acfgallery-diamond .diamond-row-upper, .diamond-row-lower {
    overflow: visible;
    clear: both;
    width: 100%;
}
.dynamic_acfgallery-diamond .diamond-row-lower {
    position: absolute;
    bottom: 0;
}
.dynamic_acfgallery-diamond .diamond-row-lower .diamond-box {
    margin-left: 64.644660941%; /* 1 - 1 / sqrt(2) / 2 */
    margin-top: 64.644660941%;
}

.dynamic_acfgallery-diamond .diamond-box-wrap {
    float: left;
    width: 250px; /* Size of diamonds */
    height: 250px;
}

.dynamic_acfgallery-diamond .diamond-box {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    overflow: hidden;
    
    position: relative;
    z-index: 1;
    
    width: 70.710678118%; /* x = sqrt(x^2 / 2) = 1 / sqrt(2) = 0.70710678118 */
    height: 70.710678118%;
    margin: 14.644660941%;
    
    border: 0px solid transparent;
}

.dynamic_acfgallery-diamond .diamond-box-inner {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    
    width: 141.421356237%; /* sqrt(2) */
    height: 141.421356237%;
    margin: -20.7106781185% 0 0 -20.7106781185%; /* (1 - sqrt(2)) / 2 */

    position: relative;
    z-index: -1;
}
.dynamic_acfgallery-diamond .diamond-box-inner *{
  height: 100%;
  width: auto;
  max-width: inherit;
  max-height: inherit;
  margin: 0 auto;
  display: block;
}
.dynamic_acfgallery-diamond .diamonds img{
  height: 100%;
  width: auto;

  

  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  
}
.hovereffect-zoom .dynamic_acfgallery.dynamic_acfgallery-diamond .grid-item a.is-lightbox:hover img{
    -moz-transform: scale(1.3) translateX(0%);
    -webkit-transform: scale(1.3) translateX(0%);
    -ms-transform: scale(1.3) translateX(0%);
    transform: scale(1.3) translateX(0%);
}
/* ------ ACFGallery Justifier ------- */
/*!
 * justifiedGallery - v4.0.0-alpha
 * http://miromannino.github.io/Justified-Gallery/
 * Copyright (c) 2019 Miro Mannino
 * Licensed under the MIT license.
 */
.dynamic_acfgallery.dynamic_acfgallery.justified-gallery {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.dynamic_acfgallery.justified-gallery > a,
.dynamic_acfgallery.justified-gallery > div,
.dynamic_acfgallery.justified-gallery > figure {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  /* background: #888888; To have gray placeholders while the gallery is loading with waitThumbnailsLoad = false */
  filter: "alpha(opacity=10)";
  opacity: 0.1;
  margin: 0;
  padding: 0;
}
.dynamic_acfgallery.justified-gallery > a > img,
.dynamic_acfgallery.justified-gallery > div > img,
.dynamic_acfgallery.justified-gallery > figure > img,
.dynamic_acfgallery.justified-gallery > a > a > img,
.dynamic_acfgallery.justified-gallery > div > a > img,
.dynamic_acfgallery.justified-gallery > figure > a > img,
.dynamic_acfgallery.justified-gallery > a > svg,
.dynamic_acfgallery.justified-gallery > div > svg,
.dynamic_acfgallery.justified-gallery > figure > svg,
.dynamic_acfgallery.justified-gallery > a > a > svg,
.dynamic_acfgallery.justified-gallery > div > a > svg,
.dynamic_acfgallery.justified-gallery > figure > a > svg,
.dynamic_acfgallery.justified-gallery > figure > div > a > img, 
  .dynamic_acfgallery.justified-gallery > figure > div a > img{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  border: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
}
.dynamic_acfgallery.justified-gallery > a > .caption,
.dynamic_acfgallery.justified-gallery > div > .caption,
.dynamic_acfgallery.justified-gallery > figure > .caption,
.dynamic_acfgallery.justified-gallery > figure > div > .caption
{
  display: none;
  position: absolute;
  bottom: 0;
  padding: 5px;
  background-color: #000000;
  left: 0;
  right: 0;
  margin: 0;
  color: white;
  font-size: 12px;
  font-weight: 300;
  font-family: sans-serif;
}
.dynamic_acfgallery.justified-gallery > a > .caption.caption-visible,
.dynamic_acfgallery.justified-gallery > div > .caption.caption-visible,
.dynamic_acfgallery.justified-gallery > figure > .caption.caption-visible,
.dynamic_acfgallery.justified-gallery > figure > div > .caption.caption-visible
{
  display: initial;
  filter: "alpha(opacity=70)";
  opacity: 0.7;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}
/*.dynamic_acfgallery.justified-gallery > .entry-visible,*/
.dynamic_acfgallery.justified-gallery > .jg-entry-visible {
  filter: "alpha(opacity=100)";
  opacity: 1;
  background: none;
}
.dynamic_acfgallery.justified-gallery > .jg-entry-visible > img,
.dynamic_acfgallery.justified-gallery > .jg-entry-visible > a > img,
.dynamic_acfgallery.justified-gallery > .jg-entry-visible > svg,
.dynamic_acfgallery.justified-gallery > .jg-entry-visible > a > svg,
.dynamic_acfgallery.justified-gallery > .jg-entry-visible > div > a > img,
.dynamic_acfgallery.justified-gallery > .jg-entry-visible > div > img {
  filter: "alpha(opacity=100)";
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in, 0.8s transform ease;
  -moz-transition: opacity 500ms ease-in, 0.8s transform ease;
  -o-transition: opacity 500ms ease-in, 0.8s transform ease;
  transition: opacity 500ms ease-in, 0.8s transform ease;
}
.dynamic_acfgallery.justified-gallery > .jg-filtered {
  display: none;
}
.dynamic_acfgallery.justified-gallery > .spinner {
  position: absolute;
  bottom: 0;
  margin-left: -24px;
  padding: 10px 0 10px 0;
  left: 50%;
  filter: "alpha(opacity=100)";
  opacity: 1;
  overflow: initial;
}
.dynamic_acfgallery.justified-gallery > .spinner > span {
  display: inline-block;
  filter: "alpha(opacity=0)";
  opacity: 0;
  width: 8px;
  height: 8px;
  margin: 0 4px 0 4px;
  background-color: #000;
  border-radius: 6px;
}

/* ------ ACFGallery Hexagonal/honeycobs ------- */
.dynamic_acfgallery-honeycombs{
  position: relative;
  width: 100%;
  text-align: center;
}

.dynamic_acfgallery-honeycombs .inner_span{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.dynamic_acfgallery-honeycombs .inner-text{
  padding-top: 30%;
}
.dynamic_acfgallery-honeycombs .honeycombs-inner-wrapper{
  display: inline-block;
  /*width: 700px;*/
  position: relative;
  height: 1200px;
}

.dynamic_acfgallery-honeycombs .comb, .honeycombs a.comb{
  position: absolute;
  display: inline-block;
  overflow: hidden;
}

.dynamic_acfgallery-honeycombs .hex_l,
.dynamic_acfgallery-honeycombs .hex_r{
  overflow: hidden;
  position: absolute;
  /* -webkit-backface-visibility: hidden; */
}

.dynamic_acfgallery-honeycombs .hex_l{
  visibility: hidden;
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  
  transform: rotate(60deg);
}

.dynamic_acfgallery-honeycombs .hex_r{
  visibility: hidden;
  -moz-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  -o-transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
  
  transform: rotate(-120deg);
}

.dynamic_acfgallery-honeycombs .hex_inner{

  display: block;
  visibility: visible;
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  
  transform: rotate(60deg);
  
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hovereffect-zoom .dynamic_acfgallery-honeycombs a.is-lightbox:hover .hex_inner{
  -moz-transform: scale(1.3) rotate(60deg) ;
  -webkit-transform: scale(1.3) rotate(60deg);
  -ms-transform: scale(1.3) rotate(60deg);
  transform: scale(1.3) rotate(60deg);
}