/* ACF Posts */
.dce-postscontent{
   
} 
.dce-post-title{
  margin: 0;
}
.dce-wrapper{
  /*display: flex;*/
  position: relative;
}
.dce-wrapper:after{
  content:'';
  display: block;
  clear: both;
}

.elementor-widget-dyncontel-acfposts.add-radius-masking-yes .dce-post-item .dce-wrapper{
  overflow: hidden;
}
/*.elementor-widget-dyncontel-acfposts.no-masking-yes .slick-list*/
.elementor-widget-dyncontel-acfposts.no-masking-yes,
.elementor-widget-dyncontel-acfposts.no-masking-yes .swiper-container,
.elementor-widget-dyncontel-acfposts.no-masking-yes .swiper-slide
{
  overflow: visible;
}


.dce-post-item{
  
}
.flexgrid-style .dce-post-item, .grid-style .dce-post-item{
  float: left;
}
.dce-acfposts_content{
    position: relative;
    z-index: 1;
}
.text-acfposts-position-outside .dce-acfposts_content{

}
.text-acfposts-position-inside .dce-acfposts_content{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    /*
    rimosso per poter controllare meglio la sovrapposizione dell'elemneto ...
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);*/
}

.dce-acfposts_image .acfposts-image{
    
    -webkit-transition: filter 0.6s linear;;
    -ms-transition: filter 0.6s linear;;
    transition: filter 0.6s linear;
}



.image-acfposts-position-left .dce-post-item:before,
.image-acfposts-position-left .dce-post-item:after,
.image-acfposts-position-right .dce-post-item:before,
.image-acfposts-position-right .dce-post-item:after,
.image-acfposts-position-alternate .dce-post-item:before,
.image-acfposts-position-alternate .dce-post-item:after{
    content: '';
    display: block;
    clear: both;
}






/*
class="elementor-element elementor-element-edit-mode elementor-element-ad1eb22 elementor-element--toggle-edit-tools elementor-widget elementor-widget-dyncontel-acfposts elementor-element-editable image-acfposts-position-top image-acfposts-mobile-position-top text-acfposts-position-outside hoveranim-yes acfposts-align-center"
*/
/* PREDEFINITO */
.elementor .elementor-element .image-acfposts-position-top .dce-post-item .dce-acfposts_image,
#elementor .elementor-element .image-acfposts-position-top .dce-post-item .dce-acfposts_image, 
.elementor .elementor-element .image-acfposts-position-top .dce-post-item .dce-acfposts_content,
#elementor .elementor-element .image-acfposts-position-top .dce-post-item .dce-acfposts_content{
  width: 100%;
}
/* TOP */
.elementor .elementor-element .image-acfposts-position-top .dce-post-item .dce-wrapper,
#elementor .elementor-element .image-acfposts-position-top .dce-post-item .dce-wrapper{
    flex-direction: column;
}
.image-acfposts-position-left .dce-post-item .dce-acfposts_image, 
.image-acfposts-position-left .dce-post-item .dce-acfposts_content,
.image-acfposts-position-right .dce-post-item .dce-acfposts_image, 
.image-acfposts-position-right .dce-post-item .dce-acfposts_content,
.image-acfposts-position-alternate .dce-post-item .dce-acfposts_image, 
.image-acfposts-position-alternate .dce-post-item .dce-acfposts_content
{
  width: 50%;
}

.image-acfposts-position-top .dce-post-item .dce-acfposts_image{
    float: none;
}
.image-acfposts-position-top .dce-post-item .dce-acfposts_content{
    float: none;
}
/* LEFT */
.image-acfposts-position-left .dce-post-item .dce-wrapper{
    flex-direction: row;
}
.image-acfposts-position-left .dce-post-item .dce-acfposts_image{
   float: left;
}
.image-acfposts-position-left .dce-post-item .dce-acfposts_content{
    float: left;
}
/* RIGHT */
.image-acfposts-position-right .dce-post-item .dce-wrapper{
    flex-direction: row-reverse;
}
.image-acfposts-position-right .dce-post-item .dce-acfposts_image{
    float: right;
}
.image-acfposts-position-right .dce-post-item .dce-acfposts_content{
    float: right;
}
/* ALTERNATE */
.image-acfposts-position-alternate .dce-post-item:nth-child(odd) .dce-acfposts_image{
    float: left;
}
.image-acfposts-position-alternate .dce-post-item:nth-child(odd) .dce-acfposts_content{
    float: left;
}
.image-acfposts-position-alternate .dce-post-item:nth-child(even) .dce-acfposts_image{
    float: right;
}
.image-acfposts-position-alternate .dce-post-item:nth-child(even) .dce-acfposts_content{
    float: right;
}



/* TOP */
[data-elementor-device-mode="desktop"] .elementor .elementor-element .image-acfposts-position-top .dce-post-item .dce-acfposts_image,
[data-elementor-device-mode="desktop"] #elementor .elementor-element .image-acfposts-position-top .dce-post-item .dce-acfposts_image, 
[data-elementor-device-mode="desktop"] .elementor .elementor-element .image-acfposts-position-top .dce-post-item .dce-acfposts_content,
[data-elementor-device-mode="desktop"] #elementor .elementor-element .image-acfposts-position-top .dce-post-item .dce-acfposts_content{
  width: 100%;
}
[data-elementor-device-mode="desktop"] .elementor .elementor-element .image-acfposts-position-top .dce-post-item .dce-wrapper,
[data-elementor-device-mode="desktop"] #elementor .elementor-element .image-acfposts-position-top .dce-post-item .dce-wrapper{
    flex-direction: column;
}
/* LEFT RIGHT ALTERNATE */
[data-elementor-device-mode="desktop"] .image-acfposts-position-left .dce-post-item .dce-acfposts_image, 
[data-elementor-device-mode="desktop"] .image-acfposts-position-left .dce-post-item .dce-acfposts_content,
[data-elementor-device-mode="desktop"] .image-acfposts-position-right .dce-post-item .dce-acfposts_image, 
[data-elementor-device-mode="desktop"] .image-acfposts-position-right .dce-post-item .dce-acfposts_content,
[data-elementor-device-mode="desktop"] .image-acfposts-position-alternate .dce-post-item .dce-acfposts_image, 
[data-elementor-device-mode="desktop"] .image-acfposts-position-alternate .dce-post-item .dce-acfposts_content
{
  width: 50%;
}

/*@media only screen and (min-width: 1024px) {*/
   
[data-elementor-device-mode="desktop"] .image-acfposts-position-top .dce-post-item .dce-acfposts_image{
        float: none;
    }
[data-elementor-device-mode="desktop"] .image-acfposts-position-top .dce-post-item .dce-acfposts_content{
        float: none;
    }
/* LEFT */
[data-elementor-device-mode="desktop"] .image-acfposts-position-left .dce-post-item .dce-wrapper{
        flex-direction: row;
    }
[data-elementor-device-mode="desktop"] .image-acfposts-position-left .dce-post-item .dce-acfposts_image{
       float: left;
    }
[data-elementor-device-mode="desktop"] .image-acfposts-position-left .dce-post-item .dce-acfposts_content{
        float: left;
    }
/* RIGHT */
[data-elementor-device-mode="desktop"] .image-acfposts-position-right .dce-post-item .dce-wrapper{
        flex-direction: row-reverse;
    }
[data-elementor-device-mode="desktop"] .image-acfposts-position-right .dce-post-item .dce-acfposts_image{
        float: right;
    }
[data-elementor-device-mode="desktop"] .image-acfposts-position-right .dce-post-item .dce-acfposts_content{
        float: right;
    }
/* ALTERNATE */
[data-elementor-device-mode="desktop"] .image-acfposts-position-alternate .dce-post-item:nth-child(odd) .dce-acfposts_image{
    float: left;
}
[data-elementor-device-mode="desktop"] .image-acfposts-position-alternate .dce-post-item:nth-child(odd) .dce-acfposts_content{
    float: left;
}
[data-elementor-device-mode="desktop"] .image-acfposts-position-alternate .dce-post-item:nth-child(even) .dce-acfposts_image{
    float: right;
}
[data-elementor-device-mode="desktop"] .image-acfposts-position-alternate .dce-post-item:nth-child(even) .dce-acfposts_content{
    float: right;
}
/*}*/



/*TABLET*/

[data-elementor-device-mode="tablet"] .elementor .elementor-element .image-acfposts-tablet-position-top .dce-post-item .dce-acfposts_image,
[data-elementor-device-mode="tablet"] #elementor .elementor-element .image-acfposts-tablet-position-top .dce-post-item .dce-acfposts_image, 
[data-elementor-device-mode="tablet"] .elementor .elementor-element .image-acfposts-tablet-position-top .dce-post-item .dce-acfposts_content,
[data-elementor-device-mode="tablet"] #elementor .elementor-element .image-acfposts-tablet-position-top .dce-post-item .dce-acfposts_content{
    width: 100%;
}
[data-elementor-device-mode="tablet"] .elementor .elementor-element .image-acfposts-tablet-position-top .dce-post-item .dce-wrapper,
[data-elementor-device-mode="tablet"] #elementor .elementor-element .image-acfposts-tablet-position-top .dce-post-item .dce-wrapper{
    flex-direction: column;
}
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-left .dce-post-item .dce-acfposts_image, 
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-left .dce-post-item .dce-acfposts_content,
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-right .dce-post-item .dce-acfposts_image, 
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-right .dce-post-item .dce-acfposts_content,
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-alternate .dce-post-item .dce-acfposts_image, 
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-alternate .dce-post-item .dce-acfposts_content
{
  width: 50%;
}


/*@media only screen and (max-width: 1024px) {
*/    
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-top .dce-post-item .dce-acfposts_image{
        float: none;
    }
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-top .dce-post-item .dce-acfposts_content{
        float: none;
    }
    /* LEFT */
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-left .dce-post-item .dce-wrapper{
        flex-direction: row;
    }
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-left .dce-post-item .dce-acfposts_image{
       float: left;
    }
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-left .dce-post-item .dce-acfposts_content{
        float: left;
    }
    /* RIGHT */
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-right .dce-post-item .dce-wrapper{
        flex-direction: row-reverse;
    }
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-right .dce-post-item .dce-acfposts_image{
        float: right;
    }
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-right .dce-post-item .dce-acfposts_content{
        float: right;
    }
    /* ALTERNATE */
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-alternate .dce-post-item:nth-child(odd) .dce-acfposts_image{
        float: left;
    }
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-alternate .dce-post-item:nth-child(odd) .dce-acfposts_content{
        float: left;
    }
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-alternate .dce-post-item:nth-child(even) .dce-acfposts_image{
        float: right;
    }
[data-elementor-device-mode="tablet"] .image-acfposts-tablet-position-alternate .dce-post-item:nth-child(even) .dce-acfposts_content{
        float: right;
    }
/*}*/

/*MOBILE*/
[data-elementor-device-mode="mobile"] .elementor .elementor-element .image-acfposts-mobile-position-top .dce-post-item .dce-acfposts_image,
[data-elementor-device-mode="mobile"] #elementor .elementor-element .image-acfposts-mobile-position-top .dce-post-item .dce-acfposts_image, 
[data-elementor-device-mode="mobile"] .elementor .elementor-element .image-acfposts-mobile-position-top .dce-post-item .dce-acfposts_content,
[data-elementor-device-mode="mobile"] #elementor .elementor-element .image-acfposts-mobile-position-top .dce-post-item .dce-acfposts_content{
    width: 100%;
}
[data-elementor-device-mode="mobile"] .elementor .elementor-element .image-acfposts-mobile-position-top .dce-post-item .dce-wrapper,
[data-elementor-device-mode="mobile"] #elementor .elementor-element .image-acfposts-mobile-position-top .dce-post-item .dce-wrapper{
    flex-direction: column;
}
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-left .dce-post-item .dce-acfposts_image, 
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-left .dce-post-item .dce-acfposts_content,
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-right .dce-post-item .dce-acfposts_image, 
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-right .dce-post-item .dce-acfposts_content,
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-alternate .dce-post-item .dce-acfposts_image, 
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-alternate .dce-post-item .dce-acfposts_content
{
  width: 50%;
}


/*@media only screen and (max-width: 767px) {*/
    
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-top .dce-post-item .dce-acfposts_image{
        float: none;
    }
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-top .dce-post-item .dce-acfposts_content{
        float: none;
    }
    /* LEFT */
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-left .dce-post-item .dce-wrapper{
          flex-direction: row;
    }
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-left .dce-post-item .dce-acfposts_image{
       float: left;
    }
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-left .dce-post-item .dce-acfposts_content{
        float: left;
    }
    /* RIGHT */
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-right .dce-post-item .dce-wrapper{
          flex-direction: row-reverse;
    }
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-right .dce-post-item .dce-acfposts_image{
        float: right;
    }
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-right .dce-post-item .dce-acfposts_content{
        float: right;
    }
    /* ALTERNATE */
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-alternate .dce-post-item:nth-child(odd) .dce-acfposts_image{
        float: left;
    }
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-alternate .dce-post-item:nth-child(odd) .dce-acfposts_content{
        float: left;
    }
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-alternate .dce-post-item:nth-child(even) .dce-acfposts_image{
        float: right;
    }
[data-elementor-device-mode="mobile"] .image-acfposts-mobile-position-alternate .dce-post-item:nth-child(even) .dce-acfposts_content{
        float: right;
    }
/*}*/




.dce-acfposts_date-year{
    
    font-size: 14em;
  
    /*position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-48%,-91%);*/
    
    z-index: -2;
    transition: transform 0.5s ease, font-size 0.5s ease
}
@media only screen and (max-width: 1170px) {
  .dce-acfposts_date-year {
      font-size: 10em;
      /*transform: translate(-52%,-86%)*/
     
  }
}

/* ----- Metadata ACF Posts ------ */
.dce_metadata-wrap{
  position: relative;
  z-index: 1;
}
.dce_metadata{
  display: inline-block;
  padding-right: 3px;
}
.dce_metadata:first-child{
  padding-left: 0 !important;
}
/*.dce_metadata-wrap > span:not(:first-child){
  padding-left: 10px;
}*/
/* ----- Author ACF Posts ------ */
.dce_author-wrap{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.acfposts-align-left .dce_author-wrap{
  flex-direction: row;
}

.acfposts-align-right .dce_author-wrap{
  flex-direction: row-reverse;
}


.dce_author-wrap::after,
.dce_author-wrap::before{
  content: '';
  clear: both;
  display: block;
}
.dce_author-bio{
  font-size: 14px;
  line-height: 1.2em;
  padding-bottom: 8px;
}
.dce_author-name{
  font-size: 16px;
  font-weight: 700;
}
.dce_author-avatar{
  width: 40px;
  float: left;
  margin-right: 8px;
}
.acfposts-align-left .dce_author-avatar{
  margin-right: 11px;
}
.acfposts-align-right .dce_author-avatar{
  margin-left: 11px;
}
.acfposts-align-center .dce_author-avatar{
  display: inline-block;
}
.dce_author-avatar a:hover img{
  transform: scale(1.2);
}
.dce_author-avatar img{
  border-radius: 50%;
  transition: all 0.6s ease-in-out;
}


/* ----- Image ACF Posts ------ */
.dce-post-item{
    -webkit-transition: opacity 0.6s ease, filter 0.6s ease;
    -ms-transition: opacity 0.6s ease, filter 0.6s ease;
    transition: opacity 0.6s ease, filter 0.6s ease;
}

/*questo è deprecato è qui solo per retrocompatibilità*/
.dce-acfposts_image{ 
    position: relative;
    line-height: 0;
}
/*questo è nuovo e mi da più flessibilità*/
.dce-acfposts_imagewrap {
  position: relative;
  line-height: 0;
  display: inline-block;
}

.dce-overlay_hover, .dce-overlay{
    
    -webkit-transition: opacity 0.6s ease;
    -ms-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
    
    position: absolute;
    top: 50%;
    left: 50%;

    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    width: 100%;

}
.dce-overlay_hover{
  opacity: 0;
}

.acfposts-align-center .dce-overlay_hover, .acfposts-align-center .dce-overlay{
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.dce-post-item:hover .dce-overlay_hover{
    opacity: 1;
}

.acfposts-align-left .dce-acfposts_image img{
    margin: 0 auto 0 0;
}
.acfposts-align-right .dce-acfposts_image img{
    margin: 0 0 0 auto;
}
.acfposts-align-center .dce-acfposts_image img{
    margin: 0 auto;
}
.dce-acfposts_image a, .swiper-slide .dce-acfposts_image a{
  display: inline-block;
  position: relative;
}
.swiper-slide .dce-acfposts_image a{
  
}
.bgimage-yes .dce-acfposts_image a, .bgimage-yes .swiper-slide .dce-acfposts_image a{
  display: inline-block;
  width: 100%;
}


/* ------------------ Content ---------------- */
.dce_textcontent {
  position: relative;
  padding-bottom: 8px;
}
.textcontent-position-top_out .dce_textcontent{
    
}
.textcontent-position-bottom_out .dce_textcontent{
    
}
.textcontent-position-bottom_out.nuvoletta-yes .dce_textcontent:after,
.textcontent-position-bottom_in.nuvoletta-yes .dce_textcontent:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0) !important;

    border-width: 15px;
    margin-left: -15px;
    
}
.textcontent-position-top_out.nuvoletta-yes .dce_textcontent:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0) !important;
    /*border-top-color: #cccccc;*/
    border-width: 15px;
    margin-left: -15px;
}

/* ------------------ ReadMore ---------------- */
.dce_readmore_wrapper{

}
.dce_readmore_btn{
  color: #000;
  background-color: #eee;
  padding: 10px 20px;
  display: inline-block;
}

/* ------------------ SameHeight ---------------- */
.equalHMRWrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /*align-items: center;*/
  align-content: center; /*flex-start | flex-end | center | space-between | space-around | stretch*/
}
body:not(.elementor-msie) .equalHMR{
  flex: 1 1 100%;
}
.equalHMR .dce-wrapper{
  height: 100%;

}
/* ------------------ Pagination ---------------- */
.dce-pagination {
   font-size:13px; /* Pagination text size */
   line-height:1;
   text-align: center;

   display: flex;
   align-items: center;
   justify-content: center;
}
.dce-pagination .fa{
  line-height: 0;
}
.dce-pagination .pageprev .fa, .dce-pagination .pagefirst .fa{
  margin-right: 7px;
}
.dce-pagination .pagenext .fa, .dce-pagination .pagelast .fa{
  margin-left: 7px;
}
.dce-pagination span, .dce-pagination a {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 1px 0 0;
   padding:10px;
   text-decoration:none;
   width:auto;
   color:#fff;
   background: #999;

   -webkit-transition: background-color .5s ease-in-out, color .5s ease-in-out;
   -moz-transition: background-color .5s ease-in-out, color .5s ease-in-out;
   -ms-transition: background-color .5s ease-in-out, color .5s ease-in-out;
   -o-transition: background-color .5s ease-in-out, color .5s ease-in-out;
   transition: background-color .5s ease-in-out, color .5s ease-in-out;
}
.dce-pagination span:last-child, .dce-pagination a:last-child{
  margin: 0;
}
.dce-pagination a:hover{
   color:#fff;
   background: #CCCCCC; /* Pagination background on hover */
}
.dce-pagination .current{
   background: #000000; /* Current page background */
   color:#fff;
}

/* ------------------ InfiniteScroll ---------------- */
div.infiniteScroll{
  display: flex;
  align-items: center;
  justify-content: center;
}
.infiniteScroll .page-load-status {
  display: none; /* hidden by default */
  padding: 15px;
  text-align: center;
  color: #777;
}
.infiniteScroll button {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #CCC;
  border: none;

  -webkit-transition: background-color .5s ease-in-out, color .5s ease-in-out;
   -moz-transition: background-color .5s ease-in-out, color .5s ease-in-out;
   -ms-transition: background-color .5s ease-in-out, color .5s ease-in-out;
   -o-transition: background-color .5s ease-in-out, color .5s ease-in-out;
   transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

/*.infiniteScroll .visible .scroller-status, 
.infiniteScroll .visible .infinite-scroll-last, 
.infiniteScroll .visible .infinite-scroll-error{
  display: block !important;
}*/

.elementor-widget-dyncontel-acfposts .elementor-page-title {
    display: block;
}



/* ------------------ TextZone Effect ---------------- */
.elementor-widget-dyncontel-acfposts .dce-post-item .dce-hover-effect-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
}
.elementor-widget-dyncontel-acfposts .dce-post-item.dce-hover-effects{
  overflow: hidden;
}
.elementor-widget-dyncontel-acfposts .dce-post-item .dce-hover-effect:not(.hovertexteffect-cssanimations){
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

/*Fade*/
.elementor-widget-dyncontel-acfposts.hovertexteffect-fade .dce-post-item .dce-hover-effect-content{
  opacity: 0;
}
.elementor-widget-dyncontel-acfposts.hovertexteffect-fade .dce-post-item:hover .dce-hover-effect-content{
  opacity: 1
}
/* ----------------------- */
/*Slide Bottom*/
.elementor-widget-dyncontel-acfposts.hovertexteffect-slidebottom .dce-post-item .dce-hover-effect-content{
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}
.elementor-widget-dyncontel-acfposts.hovertexteffect-slidebottom .dce-post-item:hover .dce-hover-effect-content{
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
/* ----------------------- */
/*Slide top*/
.elementor-widget-dyncontel-acfposts.hovertexteffect-slidetop .dce-post-item .dce-hover-effect-content{
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}
.elementor-widget-dyncontel-acfposts.hovertexteffect-slidetop .dce-post-item:hover .dce-hover-effect-content{
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
/* ----------------------- */
/*Slide left*/
.elementor-widget-dyncontel-acfposts.hovertexteffect-slideleft .dce-post-item .dce-hover-effect-content{
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}
.elementor-widget-dyncontel-acfposts.hovertexteffect-slideleft .dce-post-item:hover .dce-hover-effect-content{
  transform: translateX(0);
  -webkit-transform: translateX(0);
}
/* ----------------------- */
/*Slide right*/
.elementor-widget-dyncontel-acfposts.hovertexteffect-slideright .dce-post-item .dce-hover-effect-content{
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}
.elementor-widget-dyncontel-acfposts.hovertexteffect-slideright .dce-post-item:hover .dce-hover-effect-content{
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

/* ----------------------- */
/*Slide horizontal*/
.elementor-widget-dyncontel-acfposts.hovertexteffect-slidehorizontal .dce-post-item .dce-hover-effect-content{
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}
.elementor-widget-dyncontel-acfposts.hovertexteffect-slidehorizontal .dce-post-item:hover .dce-hover-effect-content{
  transform: translateX(0);
  -webkit-transform: translateX(0);
}



.elementor-widget-dyncontel-acfposts.hovertexteffect-cssanimations .dce-post-item .dce-hover-effect-content{
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;

  animation-direction: revert;
  -webkit-animation-direction: revert;
  
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}