/**************************/
/* Css of Dynamic Content */
/*************************/

/* ////////////////////////////////////////////////////
/////////////////////// FORMS ////////////////////////
///////////////////////////////////////////////////// */

button[disabled], html input[disabled] {
    cursor: default;
    opacity: 0.4;
}

.elementor-form-fields-wrapper.elementor-labels-above > .dce-form-step > .elementor-field-group .elementor-field-subgroup, 
.elementor-form-fields-wrapper.elementor-labels-above > .dce-form-step > .elementor-field-group > .elementor-select-wrapper, 
.elementor-form-fields-wrapper.elementor-labels-above > .dce-form-step > .elementor-field-group > input, 
.elementor-form-fields-wrapper.elementor-labels-above > .dce-form-step > .elementor-field-group > textarea
 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
}

.elementor-widget-form .dce-form-step {
    flex-wrap: wrap;                            
    max-width: 100%;                            
    display: flex;
    align-content: flex-start;
}
.elementor-widget-form .elementor-form-steps fieldset {
    margin: 0;
    padding: 0;
}
.elementor-widget-form .elementor-form-steps .dce-form-step {    
    display: none;
}
.elementor-widget-form .elementor-form-steps .dce-form-step:first-child {
    display: flex;
    flex-basis: 100%;
}
.elementor-widget-form .elementor-form-steps .dce-form-step .dce-form-step-bnt-prev {
    justify-content: left;
    float: left;
}
.elementor-widget-form .elementor-form-steps .dce-form-step .dce-form-step-bnt-next {
    justify-content: right;
}

/*progressbar*/
.elementor-widget-form .dce-form-progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
}
.elementor-widget-form .dce-form-progressbar li {
    list-style: none;
}
                        
.elementor-widget-form .dce-form-step-bnt-prev, 
.elementor-widget-form .dce-form-step-bnt-next {
    width: 50%;
}

.elementor-field-input-description{
    padding: 5px 5px 0 5px;
}
.elementor-field-label-description[title]{
    border-bottom: none !important;
}
/*.elementor-field-label-description::after{
    position: absolute;
    top: 0.18em;
    left: -1.5em;
}*/

.elementor-field-group .select2-container--default .select2-search--inline .select2-search__field,
.elementor-field-group .elementor-select-wrapper .select2 {
    width: 100% !important;
    max-width: 100% !important;
}

.dialog-prevent-scroll .select2-container {
    z-index: 9999;
}
/* ---------- Enchanted Form  ---------- */







/* ////////////////////////////////////////////////////
//////////////////// VISIBILITY //////////////////////
///////////////////////////////////////////////////// */
.dce-visibility-widget-hidden,
.dce-visibility-section-hidden {
    display: none;
}
.dce-btn-visibility {
    position: absolute;
    top: 15px;
    background-color: #e52600;
    color: white;
    border-radius: 50%;
    line-height: 1;
    padding: 9px;
    font-size: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3) !important;
    border: 3px solid #fff;
    z-index: 10000000;
    transform: translate(-50%, -50%);
    left: 50%;
}
.dce-btn-visibility:hover{
    color: #000 !important;
}
.elementor-editor-active .dce-btn-visibility {
    margin-left: 20px;
}
.dce-btn-visibility-debug {
    /*left: 0px;*/
} 
.dce-box-visibility-debug {
    display: none;
    position: absolute;
    top: 0px;
    left: 50%;
    background-color: #e52600;
    color: #FFF;
    border-radius: 3px;
    line-height: 1;
    text-align: left;
    z-index: 10;
    padding: 10px;
    margin: -10px 0 0 34px;
    min-width: 150px;

}
.dce-box-visibility-debug:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0px 10px 10px;
    border-color: transparent transparent #e52600 transparent;
    position: absolute;
    bottom: 100%;
    left: -10px;
    top: 4px;
}
.elementor-editor-active .dce-box-visibility-debug:before {
    left: 22px;
}
.dce-box-visibility-debug ul {
    list-style: none;
    margin: 0;
} 
.dce-visibility-widget-hidden-debug {
    min-height: 10px;
}


/* ////////////////////////////////////////////////////
////////////////////// helpers ///////////////////////
///////////////////////////////////////////////////// */
.dce-block {
    display: block;
    width: 100%;
}
.dce-flex {
    display: flex;
    flex-wrap: wrap;
}
.in_linea {
    display: inline-block !important;
}
.float {
    float: left !important;
}
.maschera{
    overflow: hidden !important;
}
.blocco-lista {
    max-width: 400px;
    margin: 0 auto ;
}
.mask {
    overflow: hidden;
}
.visible, .visible * {
    display: block !important;
}
.dce-flexbox {
    display: flex;
    align-items: center;
}
.dce-absolute {
    position: absolute;
}
.dce-offscreen {
    position: absolute;
    left: -999em;
    display: block !important;
}
/* --------------------------------------- */

body:not(.elementor-editor-active) .disattivo{
    pointer-events: none;
}
/* --------------------------------------- */

/* ////////////////////////////////////////////////////
//////////////////// Archive Grid //////////////////////
///////////////////////////////////////////////////// */
.archive-title{
    text-align: center;
    padding: 15px;
    margin-bottom: 0;
    font-size: 38px;
}
.archive-description{
    text-align: center;
}
.grid-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
    align-content: flex-start; /*flex-start | flex-end | center | space-between | space-around | stretch*/
}
/*.item-page{
  flex: 0 1 33.33333%;
  align-self: flex-start;
}*/
.grid-page p:empty{
    display: none;
}
.grid-page .item-page{
    /*flex: 1 1 calc( 100% / attr(data-col-md) );*/
    flex-grow: 0;
    flex-shrink: 1;
}
.grid-page.grid-col-md-1 .item-page{
    flex-basis: 100%;
}
.grid-page.grid-col-md-2 .item-page{
    flex-basis: 50%;
}
.grid-page.grid-col-md-3 .item-page{
    flex-basis: 33.3333%;
}
.grid-page.grid-col-md-4 .item-page{
    flex-basis: 25%;
}
.grid-page.grid-col-md-5 .item-page{
    flex-basis: 20%;
}
.grid-page.grid-col-md-6 .item-page{
    flex-basis: 16.8%;
}

@media only screen and (max-width: 992px) {
    /*.grid-page .item-page{
      flex: 1 1 calc( 100% / attr(data-col-sm) );
    } */
    .grid-page.grid-col-sm-1 .item-page{
        flex-basis: 100%;
    }
    .grid-page.grid-col-sm-2 .item-page{
        flex-basis: 50%;
    }
    .grid-page.grid-col-sm-3 .item-page{
        flex-basis: 33.3333%;
    }
    .grid-page.grid-col-sm-4 .item-page{
        flex-basis: 25%;
    }
    .grid-page.grid-col-sm-5 .item-page{
        flex-basis: 20%;
    }
    .grid-page.grid-col-sm-6 .item-page{
        flex-basis: 16.8%;
    }
}
@media only screen and (max-width: 767px) {
    /*.grid-page .item-page{
      flex: 1 1 calc( 100% / attr(data-col-xs) );
    }*/
    .grid-page.grid-col-xs-1 .item-page{
        flex-basis: 100%;
    }
    .grid-page.grid-col-xs-2 .item-page{
        flex-basis: 50%;
    }
    .grid-page.grid-col-xs-3 .item-page{
        flex-basis: 33.3333%;
    }
    .grid-page.grid-col-xs-4 .item-page{
        flex-basis: 25%;
    }
    .grid-page.grid-col-xs-5 .item-page{
        flex-basis: 20%;
    }
    .grid-page.grid-col-xs-6 .item-page{
        flex-basis: 16.8%;
    } 
}


/* ////////////////////////////////////////////////////
/////////////////////// Inertial /////////////////////
///////////////////////////////////////////////////// */
body.dce-inertiaScroll {
    overflow-x: hidden;
    overflow-y: scroll;
}
/*Viewport*/
/*.dce-inertiaScroll #outer-wrap {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}*/
/*Content-scroll*/
/*.dce-inertiaScroll #wrapper-sito {  
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: translate3d(0,0,0);
  will-change: transform;
}*/
.inertia-scroll{
    z-index: 900;
}



.dce-scrolling .scroll-direction-horizontal.elementor-2760 section.elementor-element{

}

.trace-test{
    position: fixed;
    top: 80px;
    left: 80px;
    z-index: 10000000000000000;
    background-color: #FFF;
    border: 1px solid #ccc;
}

/* ////////////////////////////////////////////////////
///////////////////// Ajax Open //////////////////////
///////////////////////////////////////////////////// */
body.dce-ajax-page-open.modal-p-on #dce-outer-wrap, body.dce-ajax-page-open.modal-p-on .modals-p .wrap-p,
body.dce-ajax-page-open.modal-p-off #dce-outer-wrap, body.dce-ajax-page-open.modal-p-off .modals-p .wrap-p{
    position: absolute;


    width: 100%;
    height: 100%;

    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;

    /*overflow-y: hidden;*/
}
html.no-scroll{
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
body.dce-ajax-page-open.modal-p-on.cancella-body{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.modals-p{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}
/*----------------------------------*/
.wrap-p .modal-p{
    /*background-color: #fff;*/
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow-y: auto;
    overflow-x: hidden;

    visibility: hidden;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    animation-fill-mode: both;
}
body.modal-p-on{
    overflow: hidden;
    height: 100%;
}
body.modal-p-off .wrap-p .modal-p{
    visibility: visible;
    opacity: 1;
}
body.modal-p-on .wrap-p .modal-p{
    visibility: visible;
    opacity: 1;
}
body.dce-ajax-page-open #dce-wrap{
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    transform-origin: center;

    animation-fill-mode: both;
}

/* Close */
.modals-p .wrap-p .close{
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    display: flex;
}
.wrap-p .close .dce-quit-ics{
    transform: scale(0.5);
    opacity: 0;
}
body.modal-p-on .wrap-p .close .dce-quit-ics{
    animation: enterQuit 0.5s ease both 0.7s;
}
body.modal-p-off .wrap-p .close .dce-quit-ics{
    animation: exitQuit 0.5s ease both;
}

/* Loading */
.load-p{
    display: block;
    cursor: pointer;
    border: 3px solid #000;
    border-top-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1002;
    border-radius: 50%;
    opacity: 1;
    animation: loadAnim 300ms linear infinite;
}
/* --------- ICS -------- */
/* Close */
.dce-quit-ics{
    display: block;
    cursor: pointer;
    background-color: #fff;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1001;
    border-radius: 50%;

    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
    transition: background-color 0.6s;
}
.dce-quit-ics:after, .dce-quit-ics:before{
    content: '';
    width: 100%;
    height: 3px;
    display: block;

    position: absolute;
    top: calc(50% - 1.5px);
    left: 0%;
    background-color: #000;

    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
    transition: background-color 0.6s;
}
.dce-quit-ics:after{
    transform: rotate(45deg);
}
.dce-quit-ics:before{
    transform: rotate(-45deg);
}

/* --------- equalHMR -------- */
body:not(.elementor-msie) .equalHMR{
    flex: 1 1 100%;
    /*align-self: center;*/
}
.equalHMR .dce-wrapper{
    height: 100%;
}

/* SWUP */
.transition-fade{
    transition: .1s;
    visibility: visible;
}
html.is-animating .transition-fade{
    visibility: hidden;
}
/*MAIN*/
html.swup-enabled #main{
    transition: .4s;

    opacity: 1;
    /*transition-delay: .1s;*/

}
/*html.swup-enabled.is-leaving #main {
    transition-duration: 1s;

}*/
/*html.swup-enabled.is-changing #main {
    opacity: 0;
    transition-duration: 0s;

}*/
html.swup-enabled.is-animating #main {
    opacity: 0;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
}

/*FOOTER*/
html.swup-enabled #footer{
    transition: .4s;
    position: relative;
    top: 0;
    transition-delay: .5s;

}
/*html.swup-enabled.is-leaving #footer {
    transition-duration: 1s;

}*/
html.swup-enabled.is-changing #footer {
    top: 100vh;
    transition-duration: 0.3s;
    transition-delay: 0s;
}
html.swup-enabled.is-animating #footer {
    top: 100vh;
    transition-duration: 0.3s;
}




.elementor-widget-dce-meta .elementor-image {
    display: inline-block;
}
/**************** ACF GoogleMap ******************/
.elementor-widget-dyncontel-acf-google-maps .gm-style .gm-style-iw-t::after{
    border-top: none !important;
    border-right: none !important;
}


.elementor-button-disabled {
    opacity: 0.3;
    pointer-events: none;
}

/**************** ACF repeater ******************/
.dce-acf-repeater-masonry .dce-acf-repeater-item{
    float: left;
}

/**************** ELEMENTOR PRO FORM bugfix ******************/
/*.elementor-widget-form .elementor-field-type-checkbox .elementor-field-subgroup .elementor-field-option input, 
.elementor-widget-form .elementor-field-type-acceptance .elementor-field-subgroup .elementor-field-option input,
.elementor-widget-form .elementor-field-type-acceptance .elementor-field-subgroup .elementor-field-option label, 
.elementor-widget-form .elementor-field-type-checkbox .elementor-field-subgroup .elementor-field-option label, 
.elementor-widget-form .elementor-field-type-radio .elementor-field-subgroup .elementor-field-option input, 
.elementor-widget-form .elementor-field-type-radio .elementor-field-subgroup .elementor-field-option label {
    display: inline-block;
}*/
.elementor-field-group .elementor-select-wrapper::after {
    content: "\e92a";
    font-family: eicons;
    font-size: 15px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    pointer-events: none;
}

.elementor-field-input-wrapper { 
    position: relative; 
    display: block; 
    flex-basis: 100%; 
    width: 100%;
    max-width: 100%; 
}
.elementor-field-group .dce-toggle-password {
    position: absolute;
    right: 15px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}


.elementor-widget-dce-copy-to-clipboard .elementor-button .elementor-button-text:empty {
    display: none;
}
.elementor-widget-dce-copy-to-clipboard .elementor-button {
    border: none;
}



.dce-tooltip {
    position: relative;
    display: inline-block;    
    zcursor: help;
}
.dce-tooltip .dce-tooltiptext {
    visibility: hidden;
    position: absolute;
    width: auto;
    background-color: #555;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity .6s;
}
.dce-tooltip:hover .dce-tooltiptext {
    visibility: visible;
    opacity: 1;
}
.dce-tooltip-right {
  top: -10px;
  transform: translateY(-50%);
  left: 125%;  
}
.dce-tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}
.dce-tooltip-bottom {
  top: 135%;
  left: 50%;  
  margin-left: -60px;
}
.dce-tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}
.dce-tooltip-top {
  bottom: 125%;
  left: 50%;  
  margin-left: -60px;
}
.dce-tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.dce-tooltip-left {
  top: -10px;
  transform: translateY(-50%);
  /*bottom: auto;*/
  right: 128%;  
}
.dce-tooltip-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}