/*
Theme Name: WpRentals Child theme
Theme URI: http://themeforest.net/user/wpestate
Description: Ultimate WordPress Theme created by WpEstate for accommodation booking. WpRentals is clean, flexible, fully responsive and retina Ready. Its smart settings allow you to build outstanding renting websites easily and fast.
Version: 2.7
Author: wpestate.org
Author URI: http://themeforest.net/user/annapx
Tags: white, one-column, two-columns,left-sidebar, right-sidebar, fluid-layout , custom-menu, theme-options, translation-ready
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: wprentals

-------------------------------------------------------------- */

label[for="cleaning_fee_per_day"], #cleaning_fee_per_day {
    display: none;
}

#google_map_prop_list_wrapper {
    width: 40%;
}

#google_map_prop_list_sidebar {
    width: 60%;
}

.user_dashboard_panel_guide a.menu-amenities:before {
    display: none;
}

.user_dashboard_panel_guide .menu-calendar {
    display: none;
}

.top-search-div {
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #fff;
    padding: 15px 0;
}

.select-input select {
    width: 100%;
    padding: 15px;
    border-radius: 0px;
    color: #1d2023;
    letter-spacing: 1px;
    font-size: 15px;
    padding-left: 30px;
    border-color: #efefef;
    background-color: #efefef;
    height: 60px;
    /* -webkit-appearance: none; */
    /* -webkit-border-radius: 0px; */
}

.advanced_search_map_list_container {
    overflow: hidden;
    /*display: none;*/
}

.adv_search_toggle {
    text-align: left;
    border: 0;
    border-radius: 0;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.open svg.normal {
    display: none;
}

svg.active {
    display: none;
}

.open svg.active {
    display: inline-block;
}

.adv_search_toggle svg {
    width: 40px;
    height: 40px;
}

#advanced_search_map_list {
    background-color: #f0f0f0;
}

#advanced_search_map_list .col-md-6, .listing_wrapper.col-md-6,#advanced_search_map_list .col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
}

.custom-ui-slider {
    height: 6px !important;
    margin-top: 10px;
}

.custom-ui-slider  .ui-widget-header {
    background-color: #671efe!important;
}

.custom-ui-slider  .ui-slider-handle,
div .custom-ui-slider.ui-slider.ui-slider-horizontal .ui-slider-handle {
    border-radius: 1px;
    background-image: none;
    background-color: #fff;
    width: 18px;
    cursor: e-resize;
    height: 18px;
    top: -7px;
    border: 1px solid #e7e9ef;
}

.custom-ui-slider-wrap {
    position: relative;
    margin-bottom: 22px;
    padding-left: 11px;
}

.custom-ui-slider-wrap .custom-ui-slider {
    padding-left: 16px;
}

.custom-ui-slider-wrap label {
    margin-left: -10px;
}

.checklist-selection {
    list-style: none;
    overflow: hidden;
    margin: 0;
}

.checklist-selection li {
    width: 50%;
    float: left;
}

#listing_ajax_container .property_listing {
    max-width: 100%;
}

div#listing_ajax_container .listing-unit-img-wrapper img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.prop_extra_metas {
    margin-top: 12px;
    margin-bottom: 15px;
}

.prop_extra_metas ul {
    margin: 0;
    display: flex;
    align-items: center;
}

.prop_extra_metas li {
    display: inline-flex;
    justify-content: start;
    width: 33.33%;
    align-items: center;
}

.prop_extra_metas svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #a7a7a7;
}

.prop_extra_metas .text {
    color: #333;
}

.prop_extra_metas .icon {
    width: 30px;
    height: 30px;
    margin-right: 9px;
}

.page-template-advanced_search_results .master_header.google_map_list_header {

}

.page-template-advanced_search_results .website-wrapper{
    overflow: hidden;
}
.full_map_container {
    position: relative;
    overflow: hidden;
    width: 100%;
    clear: both;
    top: 110px;
    z-index: 0;
}

.admin-bar #google_map_prop_list_sidebar, .admin-bar #google_map_prop_list_wrapper, .admin-bar .social_share_wrapper {
    top: 232px !important;
}
#google_map_prop_list_sidebar, #google_map_prop_list_wrapper {
    top: 200px !important;
}

@media(max-width: 1400px){

    .prop_extra_metas .icon {
        max-width: 18px;
    }

    .prop_extra_metas .text {
        font-size: 14px;
    }
}