.pafe-form-booking {
	label {
		display: inline-block;
	}
}

.pafe-form-booking__inner {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -3px;
} 

.pafe-form-booking__inner .active {
	background: #fff;
}

.pafe-form-booking__item {
	padding: 3px;
}

.pafe-form-booking__item-inner {
	padding: 15px;
	position: relative;
	border-radius: 6px;
	input {
		position: absolute;
		cursor: pointer;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	.elementor-field-option {
		label {
			display: none; 
		}
	} 
}
 
.pafe-form-booking__item:hover { 
	transition: 0.3s;
}   

.variation-pafe_form_booking,
.variation-pafe_form_booking_fields {
  display: none !important; 
}

.pafe-form-booking--loading {
  opacity: 0.5;
  pointer-events: none;
  .elementor-editor-active & {
    opacity: 1;
    pointer-events: auto;
  }
}